target/*
# ...except the built jar(s) we want to copy into the image
!target/*.jar
!target/*.jar.original

.idea/
*.iml
*.log
.env
*.csv
*.json
*.tar

# Do not ignore Maven Wrapper
!mvnw
!.mvn

# Optional excludes
.git
.dockerignore
.gitignore
